.root{
    -fx-background-color: #121212; /* สีพื้นหลังเข้ม */
    -fx-text-fill: white;
}
.button {
    -fx-background-radius: 25px;
    -fx-padding: 10px 20px;
    -fx-background-color: #1E1E1E; /* สีปุ่มเข้ม */
    -fx-font-size: 18px;
    -fx-text-fill: white; /* สีข้อความขาว */
}
.Button {
    -fx-background-color: #1E1E1E; /* ปรับสีปุ่ม */
}
.ButtonNavbar {
    -fx-background-color: #3F51B5; /* สีนาวบาร์ */
    -fx-text-fill: white; /* ข้อความขาว */
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
.ButtonNavbarNotMain {
    -fx-background-color: #2A2A2A; /* ปรับสี */
    -fx-text-fill: white; /* ข้อความขาว */
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
.ButtonNavbarNotMain:hover {
    -fx-background-color: #3F51B5; /* สีกด */
    -fx-text-fill: white;
}
.LoginButton {
    -fx-background-color: #3F51B5; /* สีปุ่มเข้ม */
    -fx-text-fill: white; /* ข้อความขาว */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
.LoginButton:hover {
    -fx-background-color: #303F9F; /* สีกด */
}
.CancelButton {
    -fx-background-color: #FF4D4D;
    -fx-text-fill: #FFFFFF; /* ข้อความขาว */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
.AcceptButton {
    -fx-background-color: #00B821;
    -fx-text-fill: #FFFFFF; /* ข้อความขาว */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
.AcceptButton:hover {
    -fx-background-color: #06AF25; /* สีกด */
}
.addButton {
    -fx-background-color: #2A2A2A; /* สีปุ่มเข้ม */
    -fx-text-fill: white; /* ข้อความขาว */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
.backButton {
    -fx-background-color: #1E1E1E; /* สีปุ่ม */
    -fx-text-fill: #BB86FC; /* ข้อความสีชมพู */
    -fx-font-size: 14px;
}
.choice-box {
    -fx-background-color: #1E1E1E; /* สีของ choice box */
    -fx-border-radius: 15px;
    -fx-border-color: #BFC9CA;
    -fx-text-fill: black;
}
.text-field {
    -fx-background-color: #1E1E1E; /* สีของ text field */
    -fx-border-radius: 10px;
    -fx-border-color: #BFC9CA;
    -fx-text-fill: white; /* ข้อความขาว */
}
.boldText {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: white; /* ข้อความขาว */
}
.roleLabel {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: white; /* ข้อความขาว */
}
.normalLabel {
    -fx-font-size: 16px;
    -fx-text-fill: white; /* ข้อความขาว */
}
.smallLabel {
    -fx-font-size: 14px;
    -fx-text-fill: white; /* ข้อความขาว */
}
.table-view .column-header-background .label {
    -fx-background-color: #3F51B5; /* สีหัวตาราง */
    -fx-text-fill: white; /* ข้อความขาว */
}
.table-view {
    -fx-background-color: #121212; /* สีพื้นหลัง */
}
.table-view .table-row-cell {
    -fx-background-color: transparent;
}
.table-view .table-cell {
    -fx-background-color: transparent;
}
.table-view .table-row-cell:focused .table-cell,
.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: #3F51B5; /* สีเมื่อเลือก */
    -fx-text-fill: black; /* ข้อความดำ */
}
.appeal-pane {
    -fx-background-color: #1E1E1E; /* สีพื้นหลัง */
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(gaussian, gray, 20, 0.1, 0, 0);
}
.appeal-button1 {
    -fx-background-color: #2A2A2A; /* สีปุ่ม */
    -fx-border-radius: 20px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white; /* ข้อความขาว */
}
.appeal-button2 {
    -fx-background-color: #3F51B5; /* สีปุ่ม */
    -fx-border-radius: 20px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white; /* ข้อความขาว */
}
.appeal-button3 {
    -fx-background-color: #0e12a2; /* สีปุ่ม */
    -fx-border-radius: 20px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white; /* ข้อความขาว */
}
.appeal-button4 {
    -fx-background-color: #0c6afa; /* สีปุ่ม */
    -fx-border-radius: 20px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white; /* ข้อความขาว */
}
.appeal-button5 {
    -fx-background-color: #1E1E1E; /* สีปุ่ม */
    -fx-border-radius: 20px;
    -fx-text-fill: white; /* ข้อความขาว */
}
.background-pane1 {
    -fx-background-color: #1E1E1E; /* สีพื้นหลัง */
}
.background-pane2 {
    -fx-background-color: #1E1E1E; /* สีพื้นหลัง */
    -fx-background-radius: 30px;
}
.ok-button {
    -fx-background-color: #3F51B5; /* สีปุ่ม */
    -fx-text-fill: white; /* ข้อความขาว */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
.ok-button:hover {
    -fx-background-color: #303F9F; /* สีกด */
}
.check-box {
    -fx-font-size: 16px;
    -fx-text-fill: white; /* ข้อความขาว */
}
.logout-button {
    -fx-background-color: #1E1E1E; /* สีปุ่ม */
    -fx-text-fill: white; /* ข้อความขาว */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-radius: black;
    -fx-border-radius: 25px;
}
.setting-button {
    -fx-background-color: #1E1E1E; /* สีปุ่ม */
    -fx-text-fill: white; /* ข้อความขาว */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-radius: black;
    -fx-border-radius: 25px;
}
.component-sidebar {
    -fx-background-color: #1E1E1E; /* สีของ sidebar */
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, gray, 20, 0.1, 0, 0);
}
.setting-pane {
    -fx-background-color: #1E1E1E; /* สีของ setting pane */
    -fx-border-color: white; /* สีของ border */
    -fx-border-radius: 15px;
}
